<div mat-dialog-title>
  <h1> Fornecedor </h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">


    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="nome" placeholder="Sementes Plante Ltda" formControlName="fornNome">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput type="cnpj" placeholder="Ex. 37.375.508/0001-84" formControlName="fornCNPJ">
      </mat-form-field>
    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Endereço</mat-label>
        <input matInput type="endereço" placeholder="AV. Castelo Branco 2739" formControlName="fornEndereco">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput type="telefone" placeholder="(62) 3233-4430" formControlName="fornTelefone">
      </mat-form-field>

    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="fornEstado">
          <mat-option *ngFor="let val of estados" [value]="val">{{val}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput type="cidade" placeholder="Ex. Goiânia" formControlName="fornCidade">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Salvar': 'Salvar'}}</button>
  </div>

</form>
