<table mat-table [dataSource]="orcamentos">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="orcaID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let orcamentos"> {{orcamentos.orcaID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="orcaIDCliente">
    <th mat-header-cell *matHeaderCellDef> Nome do Cliente </th>
    <td mat-cell *matCellDef="let orcamentos"> {{orcamentos.orcaIDCliente}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="orcaDtInicioProd">
    <th mat-header-cell *matHeaderCellDef> Data de inicio de produção </th>
    <td mat-cell *matCellDef="let orcamentos"> {{orcamentos.orcaDtInicioProd}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="orcaDtEntrega">
    <th mat-header-cell *matHeaderCellDef> Data de entrega </th>
    <td mat-cell *matCellDef="let orcamentos"> {{orcamentos.orcaDtEntrega}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="orcaIDProduto">
    <th mat-header-cell *matHeaderCellDef> ID Produto </th>
    <td mat-cell *matCellDef="let orcamentos"> {{orcamentos.orcaIDProduto}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="orcaQtdProduto">
    <th mat-header-cell *matHeaderCellDef> Quantidade Produto</th>
    <td mat-cell *matCellDef="let orcamentos"> {{orcamentos.orcaQtdProduto}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="orcaDesconto">
    <th mat-header-cell *matHeaderCellDef> Desconto </th>
    <td mat-cell *matCellDef="let orcamentos"> {{orcamentos.orcaDesconto}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

