<div mat-dialog-title>
  <h1>Orçamento</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="orcaIDCliente" placeholder="Selecione o cliente">
          <mat-option *ngFor="let cliente of clientes" [value]="cliente.cliID">
            {{ cliente.cliNome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="empForm.get('orcaIDCliente')?.invalid && empForm.get('orcaIDCliente')?.touched">
          Selecione um cliente.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data Inicio Produção</mat-label>
        <input matInput type="data_inicio_producao" placeholder="19/05/2023" formControlName="orcaDtInicioProd">
        <mat-error *ngIf="empForm.get('orcaDtInicioProd')?.hasError('required') && empForm.get('orcaDtInicioProd')?.touched">
          O campo Data Início Produção é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Desconto</mat-label>
        <input matInput type="desconto" placeholder="25%" formControlName="orcaDesconto">
        <mat-error *ngIf="empForm.get('orcaDesconto')?.hasError('required') && empForm.get('orcaDesconto')?.touched">
          O campo Desconto é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data Entrega</mat-label>
        <input matInput type="data_entrega" placeholder="21/06/2023" formControlName="orcaDtEntrega">
        <mat-error *ngIf="empForm.get('orcaDtEntrega')?.hasError('required') && empForm.get('orcaDtEntrega')?.touched">
          O campo Data Entrega é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">

      <mat-form-field appearance="outline">
        <mat-label>Produto</mat-label>
        <mat-select formControlName="orcaIDProduto" placeholder="Selecione o produto">
          <mat-option *ngFor="let produto of produtos" [value]="produto.prodId">
            {{ produto.prodDescricao }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="empForm.get('orcaIDProduto')?.invalid && empForm.get('orcaIDProduto')?.touched">
          Selecione um cliente.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Qtde Produto</mat-label>
        <input matInput type="quantidade_produto" placeholder="2 Unidades" formControlName="orcaQtdProduto">
        <mat-error *ngIf="empForm.get('orcaQtdProduto')?.hasError('required') && empForm.get('orcaQtdProduto')?.touched">
          O campo Qtde Produto é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
