<div mat-dialog-title>
  <h1>Cliente</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="nome" placeholder="Humberto Munhoz" formControlName="cliNome">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CPF_CNPJ</mat-label>
        <input matInput type="cpf_cnpj" placeholder="028.534.201-08" formControlName="cliCPF_CNPJ">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Endereço</mat-label>
        <input matInput type="endereco" placeholder="Rua 240" formControlName="cliEndereco">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data Nascimento</mat-label>
        <input matInput type="data nascimento" placeholder="24/06/1989" formControlName="cliDtNascimento">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Maria@hotmail.com" formControlName="cliEmail">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput type="telefone" placeholder="(62)3233-4430" formControlName="cliTelefone">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
