<div mat-dialog-title>
  <h1>Material</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <input matInput type="text" placeholder="Caneca branca" formControlName="descricao" required>
              <mat-error *ngIf="empForm.get('matDescricao')?.invalid && empForm.get('matDescricao')?.touched">
                  Campo Descrição é obrigatório.
              </mat-error>
          </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Quantidade</mat-label>
              <input matInput type="number" placeholder="10" formControlName="quantidade" required>
              <mat-error *ngIf="empForm.get('matQuantidade')?.invalid && empForm.get('matQuantidade')?.touched">
                  Campo Quantidade é obrigatório.
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
              <mat-label>Preço</mat-label>
              <input matInput type="number" placeholder="2" formControlName="preco" required>
              <mat-error *ngIf="empForm.get('matPreco')?.invalid && empForm.get('matPreco')?.touched">
                  Campo Preço é obrigatório.
              </mat-error>
          </mat-form-field>
      </div>

  </div>
  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="empForm.invalid">Salvar</button>
  </div>
</form>
