<mat-card class="Cliente">
    <mat-card-content>
      <mat-toolbar color="">
        <span>Casa Criativa</span>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="openAddEditEmpForm()">
          Adicionar Produto
        </button>
      </mat-toolbar>
      <div class="main-body">

        <mat-form-field>
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Sementes Plante" #input>
        </mat-form-field>

        <div class="table-container">

          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
              <td mat-cell *matCellDef="let row"> {{row.nome}}</td>
            </ng-container>
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>descricao</th>
              <td mat-cell *matCellDef="let row"> {{row.descricao}}</td>
            </ng-container>

            <ng-container matColumnDef="material">
              <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                <div class="expanded-panel" *ngIf="row && row.expanded">
                  <h3>Produtos Materiais:</h3>
                  <ul>
                    <li *ngFor="let material of row.materiais">
                      <div *ngIf="material">
                        <strong>Material ID:</strong> {{ material.descricao }} -
                        <strong>Quantidade:</strong> {{ material.quantidade }}
                      </div>
                    </li>
                    <li *ngIf="!row.materiais || !row.materiais.length">
                      No materials available for this product.
                    </li>
                  </ul>
                </div>
              </td>
            </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" (click)="openEditForm(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn"  (click)="deleteProduto(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Nenhum dado correspondente "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
