
<div class="full-screen">
  <div class="box">
  <div class=".container">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <h1>LOGIN</h1>

  <form class="example-form" >
    <mat-form-field class="example-full-width">
      <mat-label>EMAIL</mat-label>
      <input matInput type="email" formControlName="email" [placeholder]="emailFormControl.errors?.['format'] ? 'Campo Obrigatório' : 'Digite seu usuário'"
      (blur)="checkErrorsAndSetPlaceholderEmail()" value="">
    </mat-form-field>

      <div class="mensagem-erro"
        *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.errors?.['touched']">
          Campo Obrigatório!
      </div>

      <div class="mensagem-erro"
        *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.errors?.['touched']">
          Formato do Email não é Válido!
      </div>
  </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>PASSWORD</mat-label>
        <input matInput formControlName="password" type="password" [placeholder]="passwordFormControl.errors?.['format'] ? 'Campo Obrigatório' : 'Digite sua senha'"
        (blur)="checkErrorsAndSetPlaceholderPassword()" value="">
      </mat-form-field>

      <div class="mensagem-erro"
      *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.errors?.['touched']">
          Campo Obrigatório!
      </div>
  </form>

        <section>
          <div class="example-label"></div>
          <div class="content-button-login">

            <button class="button-config" mat-button [disabled]="!loginForm.valid">
              <mat-icon class="material-symbols-outlined">
              login
              </mat-icon></button>
          </div>

        </section>
  </form>
  </div>
  </div>
