<table mat-table [dataSource]="material">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="matId">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let material"> {{material.matID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="matDescricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let material"> {{material.matDescricao}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="matPreco">
    <th mat-header-cell *matHeaderCellDef> Preço </th>
    <td mat-cell *matCellDef="let material"> {{material.matPreco}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="matQuantidade">
    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
    <td mat-cell *matCellDef="let material"> {{material.matQuantidade}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

